*{
margin: 0%;
padding: 0%;

}

.menu-container{

    background-color: rgb(32, 29, 29);
    padding: 20px;
    display: flex;
    list-style: none;
    color: beige;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{

    width: 150px;
}
.menus{
    display: flex;
    padding: 7px;
    

}
.box{ 
    margin-left: 25px;
font-size: 20px;
cursor: pointer;
}
.box:hover{
    color: aqua;
}
   
.banner-container{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; 
    background-image: url("../project/logo/background.png"),
    linear-gradient(45deg,#000,#070606)
    ; 
    color: azure;

}
.e-pic{
    width: 500px;
}
.ht{
    font: bolder;
    font-size: 50px;
}
.pt{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{ 
    padding: 8px;
    color: azure;
    background-color: #070606;
    border: 1px solid white;
    box-shadow: whitesmoke 3px 3px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}